
//http://colormind.io/bootstrap/

$light-shades-color: #E7E1E7;
$light-accent-color: #C0D7E7;
$main-brand-color: #4C63A4;
$dark-accent-color: #009958;
$dark-shades-color: #13121D; 


$theme-info: #eee067fa;
$theme-warning: #eef077;
$theme-danger: #ee3749;
