
$light-shades-color: #FBF8F8;
$light-accent-color: #4EBAD1;
$main-brand-color: #006699;	/* Base brand color */
$dark-accent-color: #AD555E;
$dark-shades-color: #17161F;

$theme-info: #eee067fa;
$theme-warning: #e7a0b5;
$theme-danger: #ee3749;
