
//http://colormind.io/bootstrap/

/*$light-shades-color: #FBF8F8;
$light-accent-color: #4EBAD1;
$main-brand-color: #006699;	
$dark-accent-color: #AD555E;
$dark-shades-color: #17161F; */

$light-shades-color:#EAEAE8;
$light-accent-color: rgb(153,204,255);
$main-brand-color: rgb(62,117,166);
$dark-accent-color:rgb(0,102,102);
$dark-shades-color:#12234D;

$theme-info: #eee067fa;
$theme-warning: #eef077;
$theme-danger: #ee3749;
